*{
	padding:0;
	margin:0;
	font-family: '微软雅黑';

}
html,body{
	height: 100%;
	font-size: 32px;
	
}
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
      html{font-size: 37.5px;}
}

#main-mask{
	background: url('../src/mask.png');
	background-size: 100%;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 9999;
	transition: all 1.5s;
}
#main{
	display: none;
}
header{
	height: 1.8rem;
	background:#00BBD3;
	text-align: center;
	line-height: 2rem;
	color: #fff;
	font-size: 0.7rem;
	box-shadow: 3px 3px 3px #ccc;
}
.input-container{
	margin: 0 auto;
	width: 8.8rem;
	margin-top: 1.5rem;
}

input{
	width: 8.8rem;
	margin:0 auto;
	border: none;
	border-radius: 10px;
	height:1.3rem;
	outline: none;
	line-height: 1.3rem;
	margin-top: 0.5rem;
	font-size: 0.8rem;
	background: #CAF4F6;
}

#btn-log{
	width: 6rem;
	border: none;
	border-radius:10px;
	height: 1.3rem;
	line-height: 1.3rem;
	color: #fff;
	background: #50DBE2;
	margin:0 auto;
	margin-top: 1.3rem; 
	text-align: center;
	font-size: 0.6rem; 
	box-shadow: 3px 3px 3px #ccc;
	cursor: pointer;
}

.choose{
	color: #3FC0EE;
	font-size: 0.4rem;
	width: 8.4rem;
	margin:0 auto;
	position: relative;
}
.choose .c-1{
	 position: absolute;
	 left: 0.5rem;
	 top: 0.5rem;
}
.c-2{
	position: absolute;
	right: 0.5rem;
	top:0.5rem;
}
#img-log{
	position: absolute;
	background: url('../src/small-mask.png') no-repeat;
	background-size: 100%;
	bottom: 0;
	height: 6rem;
	width: 8.8rem;
	left: 50%;
	transform: translate(-50%,0);
	z-index: -1;
}


/*placeholder css*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    
    text-align: center;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   
   opacity:  1;
   text-align: center;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   
   opacity:  1;
   text-align: center;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   
   text-align: center;
}


