
body{
	background: #F0EFF5;
}
nav{
	width: 100%;
	height: 1.8rem;
	position: fixed;
	bottom: 0;
	background: #fff; 
}
#peizhong{
	height: 2rem;
	width: 100%;
	background: #F0EFF5;
}

#nav-ul{
	list-style: none;
	overflow: hidden;
	margin: 0 auto;
	width: 9rem;
}
#nav-ul li{
	float: left;
}
.nav-item{
	width: 2.25rem;
	height: 1.8rem;
	display: block;
	text-decoration: none;
	text-align: center;
}
.nav-item img{
	width: 0.9rem;
	height: 1rem;
	padding: 0.1rem;
}
.nav-item  p{
	font-size:0.2rem; 
	margin-top: -0.2rem;
	color:#000;
}
#me{
	/*display: none;*/
}
#me-logo{
	text-align: center;
	margin-top: 0.8rem;
		
}
#me-logo img{
	
	
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 10px;
}
#me-logo p{
	font-size: 0.55rem;
	font-weight: bold;
}

.line-block{
	background: #fff;
	border:1px 0 1px 0 #ccc;
	height: 1.5rem; 
	
	line-height: 1.5rem;
	position: relative;
	border-top:1px solid #eee;
	border-bottom:  1px solid #eee;
}
.line-block img{
	width: 0.5rem;
	height: 0.5rem;

}
.left{
	margin-left: 0.5rem;
}
.left-icon{
	width: 0.7rem !important;
}

.line-block span{
	padding-left: 0.5rem;
	
	font-size: 0.55rem;
}
.right{
	position: absolute;
	right: 0.5rem;
}

.first{
	margin-top: 0.5rem;
}
.second{
	margin-top: 1rem;
}
.last{
	margin-top: 1rem;
}

#head{
	display: none;
	width: 100%;
	height: 1.8rem;
	position:relative;
	top: 0;
	background: #fff;
	text-align: center;
	line-height: 1.8rem;
	color: #32C9DD;
	font-size: 0.6rem;
	font-weight: bold;
}
#h-logo{
	width: 0.6rem;
	height: 1rem;
	
	background: url(../src/bookBlue.png) no-repeat;
	background-size: 100%;
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;

}
#time{
	position: absolute;
	right: 0.5rem;
	font-size: 0.1rem;
	top:0.05rem;
}

#e-mask{
	
	width: 8.8rem;
    height: 10.5rem;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
    background: #fff;
    border: 1px solid #777;
    box-shadow: 10px 15px 50px 5px #999;
}

#e-mask dt{
	font-size: 0.6rem;
    font-weight: bold;
    color: #3F4558;
    padding: 0.5rem;
}

#e-mask dd{
	font-size: 0.47rem;
    color: #9B9A9B;
    line-height: 0.73rem;
     padding: 0 0.5rem 0 0.5rem;
}

#e-mask span{
	font-size: 0.53rem;
	color:#7ACAC6;
}
#e-mask span.confirm{
	margin-left: 4rem;
    margin-right: 1.5rem;
}
#e-book-item-container{
	display: none;
}
.e-book-item{
	height: 2rem;
    margin: 0 auto;
    margin-top: 0.3rem;
    width: 95%;
    box-shadow: 1px 10px 20px #ddd;
    background: #fff;
    border-radius: 5px;
    position: relative;
}
.e-book-item p{
	line-height: 2rem;
	margin-left: 1rem;
	font-size: 0.62rem;
}
.e-book-item div{
	position: absolute;
    right: 1rem;
    top: 0.9rem;
    font-size: 0.4rem;
}
.e-book-item div.e-done{
	color: #3FE3BF;
}
.e-undone{
	background: url(../src/jiantou.png) no-repeat;
	width: 0.5rem;
	height: 0.5rem;
}
.e-book-done{
	 background: #CCF7ED;
}
.l-first{
	margin-top: 1rem;
}

.l-second{
	margin-top: 2rem;
}
.l-three{
	margin-top: 1rem;
}

.h-society{
	background:#00BBD6 !important;
	color: #fff !important;
}
.society-f{
	border-top: 1px solid #bbb;
    background: #00BBD6 !important;
    color: #fff !important;
    font-size: 0.45rem;
    box-shadow: 1px 2px 15px #000;
    
}
.society-f div{
	display: inline-block;
    text-align: center;
    width: 50%;
    height: 1.3rem;
    line-height: 1.3rem;
}

.intro{
	border-bottom: 3px solid #DBF486;
}
.society-ding{
	margin-top: 1rem;
	border-bottom: 1px solid #bbb;
	border-top: 1px solid #bbb;
}
.society-ding div:first-child{
	margin-top: 0;
}
.ding-word{
    height: 1rem;
    background-color: #fff;
    font-size: 0.4rem;
    margin-top: 1px;
    padding-left: 0.5rem;
    line-height: 1rem;
}
.s-a{
	background:#fff;
	margin-top: 0.5rem;
	position: relative;
	

}
.s-a dt{
	padding:0.5rem;
	font-size: 0.5rem;
}
.s-a dd{
	padding: 0 0.5rem 0.5rem 0.5rem;
    font-size: 0.4rem;
    line-height: 0.8rem;
}
.word-logo{
	height: 0.5rem;
	width: 0.5rem;
}
#word-detail{
	display: none;
}
#word-detail img{
	
	width: 100%;
}

.spare{
	width: 100%;
	height: 1.8rem;
	position: absolute;
	top:0;
	display: none;
}
.spare img{
	height: 1.3rem;
	width: 90%;
	
	box-shadow: 1px 5px 10px #666;

	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
     -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.spare input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    width: 6.5rem;
    height: 1rem;
    border: none;
    outline: none;
    background: #F9F9F9;
}
#look-detail{
	/*display: none;*/
}
.o-t-h{
	width: 100%;
	
	background:#00BBD3;
	overflow: hidden;
}
.o-t-h-item{
	float: left;
    width: 33%;
    height: 100%;
    line-height: 1.3rem;
    font-size: 0.3rem;
    color: #fff;
    text-align: center;
}
.o-t-word{
	    width: 95%;
    height: 5rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 20px #bbb;
    margin: 0.3rem;
}
.o-t-word dt{
	padding: 1rem 0 0 1rem;
	
}
.o-t-word dd{
	font-size: 0.6rem;
    padding: 0.5rem 1rem 0 1rem;
}

#zjq-logo{
	position: absolute;
	top: 0.6rem;
	right: 0.5rem;

}
#zjq-logo img{
	width: 0.8rem;
	height: 0.8rem;
}

.zjq-return{
	position: absolute;
	top: 0.47rem;
	left: 0.5rem;

}
.zjq-return img{
    width: 1.3rem;
    height: 0.6rem;
}
#jzq-bgp{
	position: relative;
}
#jzq-bgp img#bgp{
	width: 100%;
	height: 7.6rem;
}
#jzq-me{
	position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    text-align: center;
    right: 0.3rem;
    top: 5.8rem;

}
#jzq-me img{
	width: 95%;
	height: 95%;
	margin-top: 2%;
}

#jzq-bgp span{
	position: absolute;
    top: 6.7rem;
    font-size: 0.55rem;
    right: 3.3rem;
    color: #fff;
}

.z-j-q-content{
	margin:1rem 0.5rem 0 0.5rem;
	position: relative;
	
	overflow: hidden;
}

.zj-logo{
	width: 1rem;
    height: 1rem;
    float: left;
}
.zjName{
    font-size: 0.5rem;
   	float: left;
    color:#5F6B86 ;
}
.zjWord{
	font-size: 0.53rem;
   margin-left:1rem;
    float: left;
    
}
.zhuanjiaquan{
	display: none;
}
.zjzl-title{
	position: relative;
	background: #fff;
	height: 3rem;
	margin-top: 0.5rem;
}
.zjzl-title img{
	position: absolute;
	width: 2rem;
	height: 2rem;
	top: 0.5rem;
	left: 0.5rem;
}
.zjzl-title dt{
	position: absolute;
    font-size: 0.65rem;
    top: 0.5rem;
    left: 3rem;
}
.zjzl-title dd{
	position: absolute;
    font-size: 0.4rem;
	font-weight: 100;
	color: #777;
    top: 1.5rem;
    left: 3rem;
}
.zjzl-title dd span{
	font-size: 0.45rem;
	font-weight: 600;
	color:#000 ;
}
.zjzl-first,.zjzl-container{
	margin-top: 0.5rem;
	border-top: 1px  solid #ccc;
	border-bottom: 1px solid #ccc;

}
.zjzl-thrid{
	height: 3rem;
	line-height: 3rem;
	
}

.zjzl-thrid img{
	width: 1.5rem;
	height: 1.5rem;
	margin-top: 0.75rem;
	    float: right;
    margin-right: 0.8rem;
}

.zjzl-button{
	position: absolute;
	width: 100%;
	bottom:1rem; 

}
.zjzl-yy,.zjzl-time{
	width: 90%;
	margin:0 auto;
	border-radius: 8px;
	background: #72D5FF;
	color: #fff;
	text-align: center;
	font-size: 0.6rem;
	height: 1.3rem;
	line-height: 1.3rem;
}
.zjzl-time{
	margin-top: 0.5rem;
	background: #fff;
	color: #000;
	box-shadow: 1px 1px 10px #ccc;
}
#zhuanjiaziliao{
	display: none;
}
#task-container{
	display: none;
	position: absolute;
	top:100%;
	left: 0;
	width: 100%;
	height: 100%;
	background:#fff;
	z-index: 999;
}
.task-jiantou{
	margin: 0 auto;
	display: block;
	width: 0.65rem;
	margin-top: 0.2rem;
}
.task-main-img{
	width: 100%;
	margin-top:0.3rem;
	height: 6.3rem;
}
.task-last-img{
	position: absolute;
	bottom: 0.5rem;
	width: 100%;
	height: 0.9rem;
}
.peizhong{
	height: 1.4rem;
}
#task-container p{
	font-size: 0.46rem;
	padding: 0 0.5rem 0 0.5rem; 
}
#task-container h3{
	font-size:0.6rem;
	padding: 0.5rem;
}
#task-container span{
	font-size: 0.2rem;
}
#task-container h4{
	text-align: center;
	font-size: 0.6rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
#effect-task p{
	float: left;
	margin-left: 10%;
	font-size: 0.5rem;
	margin-top: 0.3rem;

}
#effect-task p:nth-child(2){
	float: left;
	margin-left: 40%;
	font-size: 0.5rem;

}

.eff-item{
	clear: both;
	font-size: 0.4rem;
	padding: 0.3rem;
	position: relative;
	line-height: 0.8rem;
	padding-bottom: 0;
	
}
.task-biaoqian{
	padding-top: 0;
}

.choose-container{
	display: inline-block;
    right: 0.3rem;
	position: absolute;

}
.c-first{
	padding-top: 0.7rem;
}
.choose-container img{

    margin-right: 0.5rem;
}
.choose-container span{
	font-size: 0.3rem;
    margin-right: 0.4rem;
}
#effect-task{
	display: none;
}
